

/*medium Devices, Desktops*/

@media only screen and (max-width: 992px) {
	
  .wrapper {width 750px;
	}
	
	.mashtab
	{transform: scale(1, 0.5)}

/*small Devices, Tablets*/

@media only screen and (max-width: 768px)  {
	.wrapper {width 450px;}



/*Extra small Devices, Phones*/

@media only screen and (max-width: 480px) {
	.wrapper {width 320px;}





