

@media only screen and (max-width: 1600px)
 .wrapper 
  {width: 140%;
  }





@media only screen and (max-width: 1242px)
	
  .wrapper 
  {width: 160%;
  margin: 5%}





/*medium Devices, Desktops*/

@media only screen and (max-width: 992px) 
	
  .wrapper 
  {width: 180%;
  margin: 10%}
	

/*small Devices, Tablets*/

@media only screen and (max-width: 768px)  
	.wrapper 
	{width: 190%;
  margin: 15%}



/*Extra small Devices, Phones*/

@media only screen and (max-width: 480px) 
	.wrapper 
	{width: 150%;
  margin: 20%}





