

@media only screen and (max-width: 1600px)
 .wrapper 
  {width: 110%;
  }





@media only screen and (max-width: 1242px)
	
  .wrapper 
  {width: 120%;
  }





/*medium Devices, Desktops*/

@media only screen and (max-width: 992px) 
	
  .wrapper 
  {width: 130%;
  }
	

/*small Devices, Tablets*/

@media only screen and (max-width: 768px)  
	.wrapper 
	{width: 140%;
  }



/*Extra small Devices, Phones*/

@media only screen and (max-width: 480px) 
	.wrapper 
	{width: 150%;
  }





