html {
background-image: url(background.jpg);
background-repeat: no-repeat;
background-size:100%;
}

.header
{background:#BA0858;
width:100%;
height:80px;
border-radius: 15px;
background: linear-gradient(to top, #fff, #BA0858);
position: absolute;
margin-top: -110px;
margin-left:-8px}

   .Zagolovok_1
   {font: Tahoma;
	font-size: 30;
	color: #fff;
	position: absolute;
	margin-left:2%}
          
   .button_0
   {position: relative;
    background-color: #BA0858;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 6px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;}


.top_menu
{background:#00A584;
width:40%;
height:500px;
border-radius: 25px;
padding-top:80;
background: linear-gradient(to top, #00A584, #fff);
opacity: 0.6;
margin-top:100px;
margin-left: 60px;
}
      
	  
	 .Zagolovok_2 
	 {font-family: Tahoma;
	 font-size: 45;
	 position: relative;
     margin-top: -1px}
    
	 .Zagolovok_3
	 {font-family: Tahoma;
	 font-size: 28;
	 position: relative;
     }
	 
	 .Zagolovok_4
	 {font-family: Tahoma;
	 font-size: 35;
	 position: relative;
     }

     .Zagolovok_5
     {font-family: Tahoma;
	 font-size: 20;
	 position: relative;
    }
	  
	 .button_1
     {position: relative;
    background-color: #000;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 9px 40px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;
    font-family: Tahoma;
    float: center;
     }


.reestratciya
{
width:40%;
height:500px;
padding-top:10;
margin-top:100px;
margin-left: 60px;
}
    .button_1
     {position: relative;
    background-color: #000;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 9px 40px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;
    font-family: Tahoma;
    float: center;
     }

    .fon-reestratciya
    {height: 60%;
     width: 40%;
     padding-top:10;
     margin-top:-500px;
     margin-left: 50%;}

     .text
     {font-family: Tahoma;
	 font-size: 24;
     color: #860D2D}


#conteiner_0.fon_perevagy
{
height: 970px;
background: #cf0b0c;
width: 100%;
position: absolute;}


#conteiner_1.fon_perevagy
{
height: 400px;
background: #cf0b0c;
width: 420px;
text-align:center;
padding-top:3%;
position: absolute;}

   #1.fon_perevagy
   {width: 200px;
   height:200px;}

   #text_0.fon_perevagy
   {font-family: Tahoma;
	 font-size: 22;
     color: #fff;
    text-align: center}
    
   #text_1.fon_perevagy
   {font-family: Tahoma;
	 font-size: 17;
     color: #fff}

#conteiner_2.fon_perevagy_2
{margin-top: -302px;
height: 400px;
background: #cf0b0c;
width: 450px;
text-align:center;
padding-top:10%;
margin-left:430px;
position: relative;}

#conteiner_3.fon_perevagy_3
{margin-top: -303px;
height: 407px;
background: #cf0b0c;
width: 450px;
text-align:center;
padding-top:8%;
margin-left:460px;
position: relative;}

#conteiner_4.fon_perevagy_4

{
height: 350px;
background: #cf0b0c;
width: 420px;
text-align:center;
padding-top:3%;
position: relative;
margin-left:-890px;
margin-bottom:80px }

#conteiner_5.fon_perevagy_5

{
height: 400px;
background: #cf0b0c;
width: 420px;
text-align:center;
padding-top:3%;
position: relative;
margin-left:450px;
margin-top:-250px; }


#conteiner_6.fon_perevagy_6

{
height: 350px;
background: #cf0b0c;
width: 420px;
text-align:center;
padding-top:3%;
position: relative;
margin-left:450px;
margin-top:-230px }

    .text_9
    {font-family: Tahoma;
	 font-size: 38;
     color: #fff;
     text-align: center;
     margin-right: 3%}
     

     .text_10
     {font-family: Tahoma;
	 font-size: 28;
     color: #fff;
     text-align: center;}




#conteiner_11.fon_perevagy
{margin-top: 67px;
background: #3d4f77;
width: 1348px;
margin-left:-450px;
height: 900px}

#conteiner_12.fon_perevagy
{margin-top:60px;
height: 200px;
background: #3d4f77;
width: 420px;
text-align:center;
position: absolute;}

#conteiner_13.fon_perevagy
{margin-top:60px;
height: 200px;
background: #3d4f77;
width: 420px;
text-align:center;
position: absolute;
margin-left: 430px}

#conteiner_14.fon_perevagy
{margin-top:60px;
height: 200px;
background: #3d4f77;
width: 420px;
text-align:center;
position: absolute;
margin-left: 850px}



#2.fon_perevagy
{height: 300px;
width: 200px}

    .text_20
    {font-family: Tahoma;
	 font-size: 18;
     color: #fff;
     }


.katalog
{margin-top: 1950px;
background: #fff;
width: 1348px;
height: 900px;
margin-left: 120}

    .button_6
    {font-family: Times New Roman;
	margin-top:60px;
	background-color: #3d4f77;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 6px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 300px}
     

    .image_5
    {height:98%;
     width: 82%;
     margin-top:60px;
     }

.Podarunki
{width: 800px;
margin-left:300;
background: #fff;
background-size: 100%}

     #podarok.Podarunki
     {font-family: Tahoma;
	 font-size: 40;
     color: #860D2D;
     margin-top:300px;
     margin-left: 120;
    }
.Podarunki_1
{width: 800px;
margin-left:100px;
background-color: #AE8C9C;
background-size: 100%}

.footer
{background:#fff;
width:1340px;
height:80px;
border-radius: 15px;
background: linear-gradient(to top, #fff, #00BCFF);
position: absolute;
margin-top: 10px;}

#knopka.go_to_top
{position: fixed;
right: 25px;
bottom: 40px;
background: #6495ED;
display: inline-block;
color: #fff;
font-size: 25px;
line-height: 26px;
text-align: center;
z-index: 100;
 border-radius: 10px;
    border: none;
    padding: 6px 32px;
}

$(document).on("click", ".go_to_top", function(e) {
    e.preventDefault();
    $('body, html').animate({scrollTop: 0}, 800);
});























