.wrapper
{margin-left: 1%;
	margin-right: 1%;
}


.body_0 {
background-image: url(background.jpg);
background-repeat: no-repeat;
background-size:100%;
height: 800px;
}

.header
{background:#BA0858;
width:100%;
height:80px;
border-radius: 15px;
background: linear-gradient(to top, #fff, #BA0858);
position: relative;
margin-top: 0;
margin-left:0;}


   .Zagolovok_1
   {font: Tahoma;
	font-size: 250%;
	color: #fff;
	position: absolute;
	padding-top:-80px}
          
   .button_0
   {position: relative;
    background-color: #BA0858;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 6px 32px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;}


.top_menu
{background:#00A584;
width:40%;
height:400px;
border-radius: 25px;
background: linear-gradient(to top, #00A584, #fff);
opacity: 0.6;
margin-top:0px;
margin-left: 60px;
padding-bottom: 0;
position: relative;
}
      
	  
	 .Zagolovok_2 
	 {font-family: Tahoma;
	 font-size: 200%;
	 position: relative;
	 }
    
	 .Zagolovok_3
	 {font-family: Tahoma;
	 font-size: 180%;
	 position: relative;
     }
	 
	 .Zagolovok_4
	 {font-family: Tahoma;
	 font-size: 150%;
	 position: relative;
     }

     .Zagolovok_5
     {font-family: Tahoma;
	 font-size: 120%;
	 position: relative;
    }
	  
	 .button_1
     {position: relative;
    background-color: #000;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 9px 40px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;
    font-family: Tahoma;
    float: center;
     padding-bottom:70px;}


.reestratciya
{
width:40%;
height:300px;
padding-top:0;
margin-top:0;
margin-left: 60px;
}
    .button_1
     {position: relative;
    background-color: #000;
    border-radius: 10px;
	border: none;
	color: white;
	padding: 9px 40px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: 2%;
    font-family: Tahoma;
    float: center;
     }

    .fon-reestratciya
    {height: 50%;
     width: 30%;
     position: relative;
     margin-top:-250px;
     margin-left: 50%;}

     .text
     {font-family: Tahoma;
	 font-size: 180%;
     color: #860D2D}


#conteiner_0.fon_perevagy
{padding-top:20px;
height: 1250px;
background: #cf0b0c;
width: 100%;
position: relative;}


#conteiner_1.fon_perevagy
{margin-top:10%;
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
position: absolute;
margin-left: 100px}

   #1.fon_perevagy
   {width: 100px;
   height:100px;}

   #text_0.fon_perevagy
   {font-family: Tahoma;
	 font-size: 250%;
     color: #fff;
    text-align: center}
    
   #text_1.fon_perevagy
   {font-family: Tahoma;
	 font-size: 200%;
     color: #fff}

#conteiner_2.fon_perevagy_2
{margin-top: 0px;
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
padding-top:10%;
margin-left:30%;
position: absolute;}

#conteiner_3.fon_perevagy_3
{margin-top: 0px;
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
padding-top:8%;
margin-left:72%;
position: absolute;}

#conteiner_4.fon_perevagy_4

{
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
padding-top:0;
position: relative;
margin-left:0;
margin-top:35%;
position: absolute;
margin-left: 100px}

#conteiner_5.fon_perevagy_5

{
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
padding-top:0;
position: relative;
margin-left:30%;
margin-top:35%;
position: absolute; }


#conteiner_6.fon_perevagy_6

{
height: 400px;
background: #cf0b0c;
width: 400px;
text-align:center;
padding-top:0;
position: relative;
margin-left:72%;
margin-top:35% ;
position: absolute;}

    .text_9
    {font-family: Tahoma;
	 font-size: 260%;
     color: #fff;
     text-align: center;
     margin-right: 3%}
     

     .text_10
     {font-family: Tahoma;
	 font-size: 190%;
     color: #fff;
     text-align: center;}




#conteiner_11.fon_perevagy
{margin-top: 0;
background: #3d4f77;
width: 100%;
margin-left:0px;
height: 800px;
padding-top:30px;}

#conteiner_12.fon_perevagy
{margin-top:0px;
height: 400px;
background: #3d4f77;
width: 400px;
text-align:center;
position: absolute;
margin-left:10%}

#conteiner_13.fon_perevagy
{margin-top:0px;
height: 400px;
background: #3d4f77;
width: 400px;
text-align:center;
position: absolute;
margin-left:30%}

#conteiner_14.fon_perevagy
{margin-top:0px;
height: 400px;
background: #3d4f77;
width: 400px;
text-align:center;
position: absolute;
margin-left: 67%}



#2.fon_perevagy
{height: 200px;
width: 100px;}

    .text_20
    {font-family: Tahoma;
	 font-size: 150%;
     color: #fff;
     }


.katalog
{margin-top: 0;
background: #fff;
width: 100%;
height: 900px;
margin-left: 0;
margin-bottom:0}

    .button_6
    {font-family: Times New Roman;
	margin-top:20px;
	background-color: #3d4f77;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 6px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 0}
     

    .image_5
    {height:98%;
     width: 82%;
     margin-top:60px;
     }

.Podarunki
{width: 800px;
margin-left:25%;
margin-top:0;
background: #fff;
background-size: 100%;
padding-top: 100px}

     #podarok.Podarunki
     {font-family: Tahoma;
	 font-size: 250%;
     color: #860D2D;
     margin-top:0;
     margin-left: 0;
    }
.Podarunki_1
{width: 800px;
margin-left:0px;
background-color: #AE8C9C;
background-size: 100%}

.footer
{background:#fff;
width:100%;
height:80px;
border-radius: 15px;
background: linear-gradient(to top, #fff, #00BCFF);
position: relative;
margin-top: 10px;}

#knopka.go_to_top
{position: fixed;
right: 25px;
bottom: 40px;
background: #6495ED;
display: inline-block;
color: #fff;
font-size: 25px;
line-height: 26px;
text-align: center;
z-index: 100;
 border-radius: 10px;
    border: none;
    padding: 6px 32px;
}

$(document).on("click", ".go_to_top", function(e) {
    e.preventDefault();
    $('body, html').animate({scrollTop: 0}, 800);
});























